body {
    font-family: "Roboto Slab", sans-serif;
    background-color: #F7F7F7;
}

.content {
    padding: 0% 6%;
}

.upper-margin {
    height: 60px;
}

.background{
	 background-image: url("{{ url_for('static', filename='images/backgrounds/map-image.png') }}") 
	 repeat: no-repeat;
	 position: center center fixed;
}

h1, h2, h3, h4, h5, h6, nav {
    font-family: "Montserrat", sans-serif;
}

a {
	color: #E62339;
}

a :hover,
a :focus,
a :active,
a .active {
  color: #d41111;
}


h2.section-heading {
    font-size: 30px;
    text-align: left;
    text-transform: uppercase;
}

h2.section-subheading {
    font-size: 20px;
    text-align: left;
    line-height: 1.4;
    text-transform: uppercase;
}

p.descriptions {
    font-size: 16px;
    line-height: 1.7;
    text-align: left;
}

.btn-xl {
    padding: 10px 20px;
    border-color: #E62339;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #E62339;
}

.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #d41111;
}


/*NAVBAR */

.navbar{
	position: fixed;
	z-index: 90;
	width: 100%;
}

.logo-max {
    height: 80px;
    margin-left: 0px;
    margin-top: 0px;
}

.logo-navbar-min {
    height: 38px;
    margin-left: 0;
    margin-top: 0px;
}

@media(min-width:767px) {
    .logo-max {
        height: 100px;
        margin-left: 0;
        margin-top: 0px;
    }
    .logo-navbar-min {
        margin-left: 0px;
        margin-top: 0px;
    }
}

@media(min-width:920px) {
    .logo-max {
        height: 120px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .logo-navbar-min {
        margin-left: 0;
    }
}

@media(min-width:1200px) {
    .logo-max {
        height: 140px;
        margin-left: 40px;
        margin-top: 100px;
    }
}


.navbar-nav li {
	text-transform: uppercase;
}


/* styles for modules - check app_vars.py for description */


/* lab_ma == labs + map ... lab_if == labs + infos ... _id == indicators ... _pr == projects ... _da == dashboard */

lab_ma {}

lab_if {}

lab_id {}

lab_pr {}

lab_da {}

cit_ma {}

cit_if {}

cit_id {}

cit_pr {}

cit_da {}

reg_ma {}

reg_if {}

reg_id {}

reg_pr {}

reg_da {}

cou_ma {}

cou_if {}

cou_id {}

cou_pr {}

cou_da {}

wor_ma {}

wor_if {}

wor_id {}

wor_pr {}

wor_da {}

con_re {}

con_an {}

con_fa {}

inf_ab {}

inf_co {
	background-color: #222;
	
}

inf_in {}

inf_pa {}

too_da {}

too_pl {
    margin-top: 10px;
    /* not working yet */
}

too_id {
    margin-top: 10px;
}


/* svg_oecd // if this style is not specific it affects the map (dephase by 10px from top for instance */

#region_resilience {
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: "Dosis", sans-serif;
    font-weight: bold;
}


/* Slider. From: https://bl.ocks.org/mbostock/6452972*/

.ticks {
    font: 10px;
}

.track, .track-inset, .track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #aaaaaa;
    stroke-width: 10px;
}

.track-inset {
    stroke: #ddd;
    stroke-width: 0px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    cursor: move;
}

.handle {
    fill: #141875;
}

.city.education {}
