/*GLOBAL STYLES */

body {
    font-family: "Roboto Slab", sans-serif;
    background-color: #F7F7F7;
}

h1, h2, h3, h4, h5, h6, nav {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.color-inverted {
    color: #F7F7F7;
}

a {
    color: #E62339;
}

a :hover, a :focus, a :active, a .active {
    color: #d41111;
}

h2.section-heading {
    font-size: 40px;
    text-align: left;
    text-transform: uppercase;
}

h2.section-subheading {
    font-size: 20px;
    text-align: left;
    line-height: 1.4;
    text-transform: uppercase;
}

h1.city-title {
    font-size: 70px;
    padding: 0px;
    margin: 150px 0px 5px 0px;
}

h3.country-title {
    font-size: 28px;
    padding: 0px;
    margin: 20px 0px 5px 0px;
}

p.descriptions {
    font-size: 19px;
    line-height: 1.7;
    text-align: left;
}

p.city-description {
    font-size: 19px;
    line-height: 1.7;
    text-align: left;
    margin: 70px 0 50px;
}

.disabled {
    opacity: 0.5;
}


/*BUTTONS */

.btn-xl {
    padding: 10px 20px;
    border-color: #E62339;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background-color: #E62339;
}

.menu {
    border-color: #d1d1d1;
    color: #222;
    background-color: #d1d1d1;
    text-transform: lowercase;
    font-weight: 400;
}

.menu:hover {
    background-color: #222;
}

.btn-link {
    margin-top: -1px;
}

.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #d41111;
}

.btn-tool {
    margin-bottom: 5px;
}


/*MODALS */

.modal {
    z-index: 900000001;
}


/*NAVBAR */

.navbar {
    position: fixed;
    z-index: 900000000;
    width: 100%;
}

.navbar-default {
    background-color: #222;
    border-color: #222;
}

.navbar-default .navbar-nav li a {
    color: #F7F7F7;
}

.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:focus, .navbar-default .navbar-nav .active a:hover {
    color: #F7F7F7;
    background-color: #E62339;
}

.dropdown-menu {
    background-color: #E62339;
}

.logo-max {
    height: 80px;
    margin-left: 0px;
    margin-top: 0px;
}

.logo-navbar-min {
    height: 38px;
    margin-left: 0;
    margin-top: 0px;
}

@media(min-width:767px) {
    .logo-max {
        height: 100px;
        margin-left: 0;
        margin-top: 0px;
    }
    .logo-navbar-min {
        margin-left: 0px;
        margin-top: 0px;
    }
}

@media(min-width:920px) {
    .logo-max {
        height: 120px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .logo-navbar-min {
        margin-left: 0;
    }
}

@media(min-width:1200px) {
    .logo-max {
        height: 140px;
        margin-left: 40px;
        margin-top: 100px;
    }
}

.navbar-nav li {
    text-transform: uppercase;
}

/* DIVS      */

.content {
    padding: 0% 6%;
}

.upper-margin {
    height: 60px;
}

.photo {
    float: left; width: 200px; 
    height: 200px; 
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}


/* styles for modules - check app_vars.py for description */


/*MODULES */


/* styles for modules - check app_vars.py for description */


/* lab_ma == labs + map ... lab_if == labs + infos ... _id == indicators ... _pr == projects ... _da == dashboard */

.lab_ma {}

.lab_if {}

.lab_id {}

.lab_pr {}

.lab_da {}

.cit_ma {}

.cit_if {}

.cit_id {}

.cit_pr {}

.cit_da {}

.reg_ma {}

.reg_if {}

.reg_id {}

.reg_pr {}

.reg_da {}

.cou_ma {}

.cou_if {}

.cou_id {}

.cou_pr {}

.cou_da {}

.wor_ma {}

.wor_if {}

.wor_id {}

.wor_pr {}

.wor_da {}

.con_re {}

.con_an {}

.con_fa {}

.inf_ab {}

.inf_co {
    background-color: #222;
    background-image: url('../images/backgrounds/map-image.png');
    background-repeat: no-repeat;
    background-position: center center fixed;
}

.inf_re {
    background-color: #222;
    background-image: url('../images/backgrounds/map-image.png');
    background-repeat: no-repeat;
    background-position: center center fixed;
}

.inf_in {}

.inf_pa {}

.too_da {}

.too_pl {
    margin-top: 10px;
    /* not working yet */
}

.too_id {
    margin-top: 10px;
}


/* svg_oecd // if this style is not specific it affects the map (dephase by 10px from top for instance */

#region_resilience {
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: "Dosis", sans-serif;
    font-weight: bold;
}


/* Slider. From: https://bl.ocks.org/mbostock/6452972*/

.ticks {
    font: 90%;
}

.track, .track-inset, .track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #aaaaaa;
    stroke-width: 10px;
}

.track-inset {
    stroke: #ddd;
    stroke-width: 0px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    cursor: move;
}

.handle {
    fill: #141875;
}

.city.education {}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
    margin-top: 30px;
    border: 1px solid red;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Dosis", sans-serif;
    font-weight: bold;
    font-size: 60%;
}

#container2 {
    height: 200px !important;
}


/*DEMO MAP CSS  */

#map {
    /*width  : 800px;*/
    /*height : 500px;*/
    margin-bottom: 5px;
}

.info {
    padding: 6px 6px;
    font: 12px/14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0px;
    color: #777;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 35px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
