body {
    font-family: "Roboto Slab", sans-serif;
    background-color: #F7F7F7;
}

.content {
	padding: 0% 6%;
}

h1, h2, h3, h4, h5, h6, nav {
    font-family: "Montserrat", sans-serif;
}

h2.section-heading {
 font-size: 30px;
 text-align: left;
 text-transform: uppercase;
}

h2.section-subheading{
  font-size: 20px;
  text-align: left;
  line-height: 1.4;
  text-transform: uppercase;
}

p.descriptions {
  font-size: 16px;
  line-height: 1.7;
  text-align: left;
} 

.btn-xl {
  padding: 10px 20px;
  border-color: #E62339;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #E62339;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: #fff;
  background-color: #d41111;
}

/*NAVBAR */

.navbar{
	position: fixed;
	z-index: 1;
	width: 100%;
}

.logo-max {

  height:80px; 
  margin-left: 0px;
  margin-top: 0px; 
}


.logo-navbar-min {

  height: 38px; 
  margin-left: 0;
  margin-top:  0px;
}



@media(min-width:767px) {
  .logo-max {
    height:100px; 
    margin-left: 0;
    margin-top: 0px;
  }   

  .logo-navbar-min {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media(min-width:920px) {
  .logo-max {
    height:120px; 
    margin-left: 0px;
    margin-top: 0px;
  }

  .logo-navbar-min {
    margin-left: 0;
  }
}   

@media(min-width:1200px) {
  .logo-max {
    height:140px; 
    margin-left: 40px;
    margin-top:  100px;
  }
} 


/* styles for modules - check app_vars.py for description */


/* lab_ma == labs + map ... lab_if == labs + infos ... _id == indicators ... _pr == projects ... _da == dashboard */

lab_ma {}

lab_if {}

lab_id {}

lab_pr {}

lab_da {}

cit_ma {}

cit_if {}

cit_id {}

cit_pr {}

cit_da {}

reg_ma {}

reg_if {}

reg_id {}

reg_pr {}

reg_da {}

cou_ma {}

cou_if {}

cou_id {}

cou_pr {}

cou_da {}

wor_ma {}

wor_if {}

wor_id {}

wor_pr {}

wor_da {}

con_re {}

con_an {}

con_fa {}

inf_ab {}

inf_co {}

inf_in {}

inf_pa {}

too_da {}

too_pl {
    margin-top: 10px;
    /* not working yet */
}

too_id {
    margin-top: 10px;
}


/* svg_oecd // if this style is not specific it affects the map (dephase by 10px from top for instance */

#region_resilience {
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: "Dosis", sans-serif;
    font-weight: bold;
}
