

<footer class="footer">
  <div class="container">
		
		<h6 class="text-right">
			
				Developped for
				<a color="black" target="_blank" href="http://">Visualizar 2016</a>
				by
				<a color="black" target="_blank" href="https://github.com/">collaborator</a>
				 - 2016 &nbsp; 
				<!--<a rel="license" href="http://creativecommons.org/licenses/{{ glob.licenceCC }}/4.0/">-->
				<!--	<img 	alt="Creative Commons License"-->
				<!--			src="https://i.creativecommons.org/l/{{ glob.licenceCC }}/4.0/80x15.png" />-->
				</a>
		</h6>
	</div>
</footer><!-- end of footer-->