<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <h6 class="text-right">
				A <a href="http://fab.city/">Fab City</a> project developed at <a target="_blank" href="http://medialab-prado.es/article/agenda-visualizar16">Visualizar'16 at Medialab Prado</a>. Source on <a href="https://github.com/fablabbcn/fab-city-dashboard">GitHub</a>.
		    </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center center-block" style="margin-top: 30px;">
                <a href="https://ec.europa.eu/digital-agenda/en/news/22-new-caps-projects-horizon-2020">
                    <img src="{{ url_for('static', filename='images/logos/from_30_a.png') }}" />
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- end of footer-->
