<div class="content" id="intro_resilience">

    <h2 class="section-heading color-inverted">
		City Resilience Index
	</h2>

    <p class="descriptions color-inverted">¿How close is a city to being resilient, self-sufficient and guaranteeing opportunity and wellbeing to its citizens so that they can be the masters of their own destiny? Based on the well-being indexes developed by OECD at country and regional level,
        data from the World Bank and fablabs.io, we developed a first prototype of the City Resilience Index that you can explore below.
    </p>

    <a href="http://www.oecdbetterlifeindex.org/#/21121111111" class="btn btn-xl"> Learn more about the OECD Better Life index (at country level) </a>

    <a href="https://www.oecdregionalwellbeing.org/" class="btn btn-xl"> Learn more about the OECD Regional Well-Being index (at regional level) </a>

</div>
