<div class="content" id="resilience">

    <h2 class="section-heading">Current Fab Cities</h2>
    <p>
        Choose one of the current Fab Cities.
    </p>

    <div id="fabcities_list" class="btn-group" role="group" aria-label="..."></div>

    <div id="after">
    </div>

    <script>
        // The visualization
        d3.json("api/cities", function(data) {

            var button_group = d3.select('#fabcities_list');

            button_group.selectAll('div').data(data).enter().append('button').attr("class", "btn btn-default").attr("type", "button").attr("class", "btn-xl").attr("aria-label", function(d) {
                return d["name"];
            }).html(function(d) {
                return d["name"];
            }).on("click", function(d) {
                // Remove if existing
                $("#wholeviz").remove();
                // Load the basic html of the viz
                // Edit it later as a callback
                $('#after').load('viz_format', function() {
                    viz_load(d);
                    // Scroll to the loaded viz
                    $('html, body').animate({
                        scrollTop: $("#fabcities_list").offset().top
                    }, 1500);
                });

            });

        });
    </script>

</div>
