<div id="wholeviz">

    <h1 class="city-title" id="title">
        Title
    </h1>

    <h2 class="country-title text-muted">
        <span id="city">City</span> /
        <span id="region">Region</span> /
        <span id="country">Country</span>
    </h2>

    <p id="description">
    </p>

    <div id="content">
    </div>

    <!-- City resilience index -->
    {% include "modules/mod_city_infos_compact.html" %}

    <!-- City labs map -->
    <h2>
        The laboratories of the Fab City
    </h2>

    <div id="map_labs" style="height: 480px;">
    </div>

    <!-- {% include 'modules/mod_labs.html' %} -->
    {% include 'modules/mod_projects.html' %} {% include 'modules/mod_projects_resilience.html' %}


</div>
