<div class="content" style="padding-bottom: 10px;">

    <h2>Impact of the project on resilience</h2>
    <p>
        What could happen if the project would scale in the city? Try the simulator.
    </p>
    <h4 class="text-muted" style="margin-top: 30px;"> <span class="badge">Project impact <i>Missing Info </i> </span></h4>
    <p>
        This project affects the resilience of the city with different impact on each voice, we simulated the value of each impact.
    </p>

    <div class="row" style="margin-top:40px; margin-bottom:80px;">
        <div class="col-md-6">
            <div id="resilience-container2" class="svg-container">
            </div>
        </div>
        <div class="col-md-6">
            <div id="project-sliders" class="svg-container">
            </div>
        </div>
    </div>

    <script>
        // Add the two resilience vizs
        resilience_viz("div#resilience-container2");
        city_region_country_viz("div#city-region-country");
    </script>
</div>
