<div class="content" id="intro">

    <img width="120px" src="{{ url_for('static', filename='images/logos/logoFabCity.svg') }}" style="padding:0px; margin: 7% 0px 0px 0px;">
    <h2 class="section-heading ">
		Fab City Dashboard
	</h2>

    <h3 class="section-subheading text-muted">
	    A tool for monitoring city resilience.
	</h3>

    <p class="descriptions text-muted"> A dashboard for all the Fab Cities where citizens, civic leaders, digital fabrication laboratories and makers can understand the existing resilience of their cities and how they are having an impact on it.
    </p>

    <a href="#resilience" class="btn btn-xl"> Start </a>
    <a href="http://fab.city/" class="btn btn-xl "> About the Fab City Initiative </a>

</div>
