<div style="padding-bottom: 10px;" id="Labs">
    <!--MODULE INFOS/project : inf_pr <br>-->

    <h2 class="section-heading" style="padding:0px; margin: 50px 0px 5px 0px;"> Labs </h2>

    <h3 class="project-name"> FabLab Barcelona</h3>
    <h4 class="text-muted" style="margin-top: 30px;"> <span class="badge">500 Users <i>Missing Info </i> </span></h4>

    <h4 class="text-muted" style="display: inline;">Description</h4>

    <p class="descriptions" style="padding: 10px 0">"Fab Lab Barcelona is a centre of production, investigation and education, that uses the latest computer-assisted design software for the creation of prototypes and scale models for Architecture, Construction and Industrial Design."
    </p>


</div>
