<div style="padding-bottom: 10px;" id="projects">

    <h2>The impact of a project on the city</h2>
    <h3 class="project-name">Precious Plastic</h3>

    <!--<i class="fa fa-user fa-2x" style="display: inline;"></i>-->

    <h4 class="text-muted" style="margin-top: 30px;">2 contributors</h4>
    <!--<p class="descriptions" style="display: inline;">2 contributors</p> <br>-->

    <i class="fa fa-user fa" style="display: inline;"></i>
    <a href="https://www.fablabs.io/users/7143">inesccprates</a>
    <i class="fa fa-user fa" style="display: inline;"></i>
    <a href="https://www.fablabs.io/users/7141">cyrilledubois</a>


</div>



<div style="padding-top: 30px;">

    <h4 class="text-muted" style="display: inline;">Description</h4>

    <p class="descriptions" style="padding: 10px 0">"We are building 4 small-scale plastic recycling machines based on the models done by the Precious Plastic team, using the open-source materials uploaded on their site."
    </p>

    <h4 class="text-muted" style="padding-top: 30px">Lab</h4>
    <img width="20px" src="{{ url_for('static', filename='images/logos/fablabs.svg') }}"> <a href="https://www.fablabs.io/fablabbcn">Fab Lab Barcelona </a>

    <h4 class="text-muted" style="padding-top: 30px"> Machines</h4>
    <img width="20px" src="{{ url_for('static', filename='images/icons/svg/machines.svg') }}"> <span class="badge">Missing Info</span>

    <h4 class="text-muted" style="padding-top: 30px"> Materials</h4>
    <img width="20px" src="{{ url_for('static', filename='images/icons/svg/machines.svg') }}"> <span class="badge">Missing Info</span>

    <h4 class="text-muted" style="padding-top: 30px"> Partners</h4>
    <img width="20px" src="{{ url_for('static', filename='images/icons/svg/users.svg') }}"> <span class="badge">Missing Info</span>

    <h4 class="text-muted" style="padding-top: 30px"> Supply-Chain Network</h4>
    <img width="20px" src="{{ url_for('static', filename='images/icons/svg/machines.svg') }}"> <span class="badge">Missing Info</span>

</div>

<div style="padding-bottom: 300px;">

    <h4 class="text-muted" style="padding-top:30px">Images</h4>

    <div class="col-xs-6 col-sm-3">
        <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
            <img src="{{ url_for('static', filename='images/projects/precious_plastic.png') }}" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-sm-3">
        <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
            <img src="{{ url_for('static', filename='images/projects/precious_plastic_2.png') }}" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-sm-3">
        <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
            <img src="{{ url_for('static', filename='images/projects/precious_plastic_3.jpg') }}" alt="...">
        </a>
    </div>

    <!--
	<div class="photo" style="background-image: url({{ url_for('static', filename='images/projects/precious_plastic.png') }});">


	<div class="photo" style="background-image: url({{ url_for('static', filename='images/projects/precious_plastic_2.png') }});">
	</div>

	<div class="photo" style="background-image: url({{ url_for('static', filename='images/projects/precious_plastic_3.jpg') }});">
	</div>
	-->

    <div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×</button>
            <div class="modal-content">
                <div class="modal-body">
                    <img src="" alt="" />
                </div>
            </div>
        </div>
    </div>


</div>
