

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <br>
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h4 class="modal-title" style="padding-bottom: 30px;">The Fab City Dashboard</h4>
        <p>Fab City is a global project for the development of locally productive and globally connected self-sufficient cities towards a new urban model that shifts how cities source and use materials with more production occurring inside the city, along with recycling materials and meeting local needs through local inventiveness.</p> 
          <p>A city’s imports and exports would mostly be data (information, knowledge, design, code). In this way, the citizens and the city increase their resilience because the movements of materials and the associated energy consumption and carbon emissions typical of the current economy are drastically reduced.
          </p>
          <p> The proposal aims at developing a visualisation tool for Fab Cities that show the relationships between urban spaces and their networks of design, production and consumption by highlighting their supply chains, resilience and impact. Such a tool can help cities and citizens to understand how citizens design and produce in urban spaces within networks of suppliers, manufacturers, craftsmen, fab labs, makerspaces, hackerspaces. The project focuses on a dashboard for all the Fab Cities, where citizens can understand the existing resilience of cities regarding manufacturing, and how the Maker movement is having an impact on this. Citizens will be able to document and discuss their projects and their impact on the local systems and networks. 
        </p>
      </div>
      <div class="modal-footer" style="border-top: none; ">
        <button type="button" class="btn btn-xl" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
//	
//$('#myModal').on('shown.bs.modal', function () {
//  $('#myInput').focus()
//})
	
</script>