
<div class="content" style="padding-bottom: 80px;">
	<!--MODULE CITY/info : cit_if" <br>-->

	<h1 style="font-size: 70px; padding:0px; margin: 150px 0px 5px 0px;">
		BARCELONA
	</h2>

	<h3 class="text-muted" style="font-size: 28px; padding:0px; margin: 20px 0px 5px 0px;">
		CATALONIA / SPAIN
	</h3> 

	<p class="descriptions text-muted" style="margin: 0 0 50px;"> 	<p class="descriptions text-muted" style="margin: 0 0 50px;"> The Barcelona metropolitan area comprises over 66% of the people in one of the richest regions in Europe – Catalonia, with a GDP per capita amounting to €28,400 (16% more than the EU average). Barcelona has a long-standing mercantile tradition. Less well known is that the region was one of the earliest to begin industrialization in continental Europe, beginning with textile-related works from the mid-1780s but really gathering momentum in the mid-19th century, when it became a major centre for the production of textiles and machinery. Since then, manufacturing has played a large role in its history.
	</p>
</div>




