{% extends 'flask_user/public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<div class="row">

  <div class="col-sm-6 col-md-5 col-lg-4 flask-user" >
    <h1>{%trans%}Forgot Password{%endtrans%}</h1>

    <form action="" method="POST" class="form" role="form">
        {{ form.hidden_tag() }}
        {{ render_field(form.email, tabindex=10) }}
        {{ render_submit_field(form.submit, tabindex=90) }}
    </form>
  </div>
</div>
{% endblock %}
