
<!--MODULE TOOLS/choose indicator : too_id <br>-->
	

<!--<div class="btn-group" style="text-align: center">-->
<!--  <button type="button" class="btn btn-default ">-->
<!--	choose an indicator</button>-->
<!--  <button type="button" class="btn  btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--    <span class="caret"></span>-->
<!--    <span class="sr-only">Toggle Dropdown</span>-->
<!--  </button>-->
<!--  <ul class="dropdown-menu">-->
<!--    <li><a href="#">all indicators</a></li>-->
<!--    <li role="separator" class="divider"></li>-->
<!--    <li><a href="#">indicator 1</a></li>-->
<!--    <li><a href="#">indicator 2</a></li>-->
<!---->
<!--  </ul>-->
<!--</div>-->

<div>
    
    <div class="btn-group">
      <button type="button"
	      class="btn btn-xl menu btn-tool dropdown-toggle"
	      data-toggle="dropdown"
	      aria-haspopup="true"
	      aria-expanded="false">
	labs indicators <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
	<li><a> </a></li>
	<li><a class="changeIndicator" id="Ind_Cat01" 	>Ind_Cat01</a></li>
	<li><a class="changeIndicator" id="Ind_Cat02"	>Ind_Cat02</a></li>
	<li><a class="changeIndicator" id="Ind_Cat03"	>Ind_Cat03</a></li>
	<li><a class="changeIndicator" id="..."				>...</a></li>
	<li role="separator" class="divider"></li>
	<li><a class="changeIndicator" id="Ind_Nom01"	>Ind_Nom01</a></li>
	<li><a class="changeIndicator" id="Ind_Nom02"	>Ind_Nom02</a></li>
	<li><a class="changeIndicator" id="Ind_Nom03" 	>Ind_Nom03</a></li>
	<li><a class="changeIndicator" id="..."				>...</a></li>
      </ul>
    </div>
    
    <div class="btn-group">
      <button type="button"
	      class="btn btn-xl menu btn-tool dropdown-toggle"
	      data-toggle="dropdown"
	      aria-haspopup="true"
	      aria-expanded="false">
	resilience indicators <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
	<li><a> </a></li>
	<li><a class="changeIndicator" id="Ind_Cat01" 	>Ind_Cat01</a></li>
	<li><a class="changeIndicator" id="Ind_Cat02"	>Ind_Cat02</a></li>
	<li><a class="changeIndicator" id="Ind_Cat03"	>Ind_Cat03</a></li>
	<li><a class="changeIndicator" id="..."				>...</a></li>
	<li role="separator" class="divider"></li>
	<li><a class="changeIndicator" id="Ind_Nom01"	>Ind_Nom01</a></li>
	<li><a class="changeIndicator" id="Ind_Nom02"	>Ind_Nom02</a></li>
	<li><a class="changeIndicator" id="Ind_Nom03" 	>Ind_Nom03</a></li>
	<li><a class="changeIndicator" id="..."				>...</a></li>
      </ul>
    </div>
    
</div>