
<!--MODULE TOOLS/choose indicator : too_id <br>-->
	

<div class="btn-group" style="text-align: center">
  <button type="button" class="btn btn-default ">
	choose an indicator</button>
  <button type="button" class="btn  btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">all indicators</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">indicator 1</a></li>
    <li><a href="#">indicator 2</a></li>

  </ul>
</div>