
<!--MODULE TOOLS/choose city : too_ci <br>-->
	
<div class="btn-group" style="text-align: center">
  <button type="button" class="btn btn-default ">
	choose a place</button>
  <button type="button" class="btn  btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">World view</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Madrid</a></li>
    <li><a href="#">Paris</a></li>
    <li><a href="#">Barcelona</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Europe</a></li>
    <li><a href="#">North America</a></li>
    <li><a href="#">Africa</a></li>
    <li role="separator" class="divider"></li>
  </ul>
</div>


