
	<!--MODULE WORLD/ indicators : wo_id <br>-->
	
	
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    choose an indicator <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a id="changeIndicator" name="World" 			>World</a></li>
    <li><a id="changeIndicator" name="World" 			>World</a></li>
    <li><a id="changeIndicator" name="World" 			>World</a></li>
    <li role="separator" class="divider"></li>
    <li><a id="changeIndicator" name="Europe" 		>Europe</a></li>
    <li><a id="changeIndicator" name="USA"    		>USA</a></li>
    <li><a id="changeIndicator" name="CentralAmerica" >Central America</a></li>
  </ul>
</div>
