<div class="content" id="resilience" style="padding-top: 50px;">

    <h2 class="section-heading" style="padding:0px; margin: 150px 0px 5px 0px; text-transform: none">Current Fab Cities</h2>
    <p>
        Choose one of the current Fab Cities.
    </p>

    <div id="fabcities_list" class="btn-group" role="group" aria-label="...">
    </div>

    <div id="wholeviz" style="display: none; border: 2px solid blue;">

        <h2 class="city-title" id="title">
	</h2>

        <h3 class="country-title text-muted">
        <span id="city">City</span> / <span id="region">Region</span> / <span id="country">Country</span>
	</h3>

        <p id="description">
        </p>
        </p>
        <div id="content">
        </div>

        <h3>City map</h3>
        <p>
            no labs, just FUA border, regional resilience, country resilience
        </p>

        <div id="map" style="border: 1px solid red; height: 480px;">
        </div>

        <h3>City resilience</h3>
        <p>
            my d3 viz
        </p>
        <h3>City labs</h3>
        <p>
            map of labs with FUA borders
        </p>
        <h3>Projects</h3>
        <p>
            list of projects from lab
        </p>

    </div>

    <script>
        // Initially hide the whole city visualization with JQuery
        $("#wholeviz").hide();

        // The visualization
        d3.json("api/cities", function(data) {

            // Debug
            console.log(data);

            var button_group = d3.select('#fabcities_list');
            var viz = d3.select('#wholeviz');
            var title = d3.select('#title');
            var city = d3.select('#city');
            var region = d3.select('#region');
            var country = d3.select('#country');
            var description = d3.select('#description');
            var content = d3.select('#content');

            button_group.selectAll('div')
                .data(data)
                .enter()
                .append('button')
                .attr("class", "btn btn-default")
                .attr("type", "button")
                .attr("aria-label", function(d) {
                    return d["name"];
                })
                .html(function(d) {
                    return d["name"];
                })
                .on("click", function(d) {
                    console.log(d);
                    $("#wholeviz").show();
                    title.text(d["name"]);
                    city.text(d["city"]);
                    region.text(d["region"]);
                    country.text(d["country"]);
                    description.html(d["description"]);

                    // initialize the map
                    var map = L.map('map').setView([d["lat"], d["long"]], 10);

                    // load a tile layer
                    var basemap = L.tileLayer('http://tile.stamen.com/toner-lite/{z}/{x}/{y}.png', {
                        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.'
                    }).addTo(map);

                    var regionStyle = {
                        "color": "#c38c5c",
                        "weight": 1,
                        "opacity": 0.85
                    };

                    // Functional urban areas plotting
                    var fua_geojson = new L.GeoJSON.AJAX('../../../static/data_custom/geojson_basemaps/regions/ESP/ESP_MAs_2016.geojson', {
                        style: function(feature) {
                            switch (feature.properties.CORE) {
                                case 0:
                                    return {
                                        color: "#8f7e6f",
                                        weight: 1,
                                        opacity: 0.55
                                    };
                                case 1:
                                    return {
                                        color: "#5d3d1e",
                                        weight: 2,
                                        opacity: 1
                                    };
                            }
                        }
                    }).addTo(map);

                    var fablabs_layer = new L.layerGroup();

                    var geojsonMarkerOptions = {
                        radius: 8,
                        fillColor: "#ff7800",
                        color: "#000",
                        weight: 1,
                        opacity: 1,
                        fillOpacity: 0.8
                    };

                    function onEachMarker(feature, layer) {
                        var props = feature.properties;
                        var popupContent = "<p></p>";
                        if (props && props.name) {
                            popupContent += '<h5>' + props.name + '</h5> ( ' + props.lab_type + ' )' + '<hr>' +
                                '<p style="margin-left: 15px"><em>city</em> : ' + props.city + ' ( ' + props.country_code + ' )' +
                                '<br><em>address</em> : ' + props.address_1 +
                                '</p>';
                        }
                        layer.bindPopup(popupContent);
                    };

                    var geojsonFeature = new L.GeoJSON.AJAX('../../../static/data_custom/geojson_labs/labs.geojson', {
                        onEachFeature: onEachMarker,
                        pointToLayer: function(feature, latlng) {
                            // GeoJSON coordinates and Leaflet coordinates are inverted
                            // But GeoJSON is a standard, so:
                            // Solution from here: https://github.com/mapbox/geojson.io/issues/289
                            var latlngNew = $.extend(true, {}, latlng);
                            latlngNew.lat = latlng.lng;
                            latlngNew.lng = latlng.lat;
                            return L.circleMarker(latlngNew, geojsonMarkerOptions);
                        }
                    }).addTo(map);

                    // var region_geojson = new L.GeoJSON.AJAX('../../../static/data_custom/geojson_basemaps/regions/FRA/FRA_admin_level_4.geojson', fuaStyle).addTo(map);

                });

        });
    </script>

</div>
