
<div class="content" style="padding-bottom: 10px;">
	<!--MODULE INFOS/project : inf_pr <br>-->

	<h2 class="section-heading" style="padding:0px; margin: 50px 0px 5px 0px;" > 
		Projects
	</h2>

	<h3 class ="project-name"> Precious Plastic</h3>

	<!--<i class="fa fa-user fa-2x" style="display: inline;"></i>-->
	
	<h4 class="text-muted" style="margin-top: 30px;">2 contributors</h4>
	<!--<p class="descriptions" style="display: inline;">2 contributors</p> <br>-->

	<i class="fa fa-user fa" style="display: inline;"></i>
	<a href="https://www.fablabs.io/users/7143">inesccprates</a> 
	<i class="fa fa-user fa" style="display: inline;"></i>
	<a href="https://www.fablabs.io/users/7141">cyrilledubois</a>

	 
</div>



<div class="content" style="padding-top: 30px;" >

	<h4 class ="text-muted" style="display: inline;">Description</h4>
	
	<p class="descriptions" style="padding: 10px 0">"We are building 4 small-scale plastic recycling machines based on the models done by the Precious Plastic team, using the open-source materials uploaded on their site.
	</p>

	<h4 class ="text-muted" style="padding-top: 30px">Lab</h4>
	<img width="20px" src="{{ url_for('static', filename='images/logos/fablabs.svg') }}"> <a href="https://www.fablabs.io/fablabbcn">Fab Lab Barcelona </a>

</div>

<div class="content" style="padding-bottom: 300px;" >

	<h4 class ="text-muted" style="padding-top:30px">Images</h4>

	<div class="photo" style="background-image: url({{ url_for('static', filename='images/projects/precious_plastic.png') }});">
	</div>	

	<div class="photo" style="background-image: url({{ url_for('static', filename='images/projects/precious_plastic_2.png') }});">
	</div>	

	<div class="photo" style="background-image: url({{ url_for('static', filename='images/projects/precious_plastic_3.jpg') }});">
	</div>	

</div>

