<div>
 
	<!--MODULE INFOS/contact : inf_co <br>-->

	<h2 class="section-heading color-inverted" style="padding:50px 0px 10px 0px; margin: 0px; text-align: center;">CONTACT US</h2>
     
    <h4 class="section-subheading text-muted" style="padding: 0px 0px 50px 0px; margin: 0px; text-align: center;">Fab City Global </h4>
	
	<ul class="list-inline text-center" style="padding-bottom: 50px;">
		<li>
		<a href="http://github.com/fabcity" target="_blank"><i class="fa fa-5x fa-github"></i></a>
		</li>
		<li>
		<a href="mailto:info@fab.city" class="btn-social btn-outline" target="_blank"><i class="fa fa-5x fa-envelope"></i></a>
		</li>
		<li>
		<a href="http://www.twitter.com/fabcityglobal" class="btn-social btn-outline" target="_blank"><i class="fa fa-5x fa-twitter"></i></a>
		</li>
		<li>
		<a href="http://www.facebook.com/fabcityglobal" class="btn-social btn-outline" target="_blank"><i class="fa fa-5x fa-facebook"></i></a>
		</li>
    </ul>

</div>