<div id="wholeviz">

    <h2 class="city-title" id="title">
        Title
    </h2>

    <h3 class="country-title text-muted">
        <span id="city">City</span> /
        <span id="region">Region</span> /
        <span id="country">Country</span>
    </h3>

    <p id="description">
    </p>

    <div id="content">
    </div>

    <!-- City resilience map -->
    <h3>
        The resilience of the Fab City
    </h3>

    <div id="map_res" style="height: 480px;">
    </div>

    <!-- City resilience index -->
    <!--{% include "modules/cities/mod_city_infos.html" %}
    -->

    <!-- City labs map -->
    <h3>
        The laboratories of the Fab City
        </h3>

    <div id="map_labs" style="height: 480px;">
    </div>

    <h3>
        Projects
    </h3>
    <p>
        list of projects from lab
    </p>

</div>
