
<div class="content" id="resilience" style="padding-top: 50px;">
<!--MODULE INFOS/intro_resilience : inf_re <br>-->

	<h2 class="section-heading color-inverted" style="padding:0px; margin: 150px 0px 5px 0px;" > 
		City Resilience Index
	</h2>
	
	<p class="descriptions color-inverted" style="margin: 50px 0">¿How close is a city to being resilient, self-sufficient and guaranteeing  opportunity and wellbeing to its citizens so that they can be the masters of their own destiny?
	</p>

	<a href="" class= "btn btn-xl inverted" style="margin: 0px 0px 100px 0px"> Learn more about the index </a> 



</div>




