<div class="content" id="resilience" style="padding-top: 50px;">
    <!--MODULE INFOS/intro_resilience : inf_re <br>-->

    <h2 class="section-heading color-inverted" style="padding:0px; margin: 150px 0px 5px 0px; text-transform: none">
		City Resilience Index
	</h2>

    <p class="descriptions color-inverted" style="margin: 50px 0; margin-bottom: 30px;">¿How close is a city to being resilient, self-sufficient and guaranteeing opportunity and wellbeing to its citizens so that they can be the masters of their own destiny?
        <br /> Based on the well-being indexes developed by OECD at country and regional level, data from the World Bank and fablabs.io, we developed a first prototype of the City Resilience Index that you can explore below.
    </p>


    <a href="http://www.oecdbetterlifeindex.org/#/21121111111" class="btn btn-xl inverted" style="margin: 20px 0px 30px 0px"> Learn more about the OECD Better Life index (at country level) </a>

    <a href="https://www.oecdregionalwellbeing.org/" class="btn btn-xl inverted" style="margin: 0px 0px 20px 0px"> Learn more about the OECD Regional Well-Being index (at regional level) </a>

    <p class="descriptions color-inverted">
        or
    </p>

    <a href="" class="btn btn-xl inverted" style="margin: 0px 0px 120px 0px"> Proceed with the City Resilience Index below </a>

</div>
