
<div class="content">
	<!--MODULE INFOS/intro : inf_in <br>-->
	
	<h2 class="section-heading" style="padding:0px; margin: 50px 0px 5px 0px;">
		FAB CITY DASHBOARD
	</h2>

	<h3 class="section-subheading text-muted" style="padding:0px; margin:0px 0px 40px 0px;"> 
	    A TOOL FOR MONOTORING CITY RESILIENCE.
	</h3>	

	<p class="descriptions text-muted" style="margin: 0 0 50px;"> A dashboard for all the Fab Cities where citizens, civic leaders, digital fabrication laboratories and makers can understand the existing resilience of their cities and how they having an impact on it. 
	</p>

	<a href="" class= "btn btn-xl" style="margin-right: 7px"> START </a>
	<a href="" class= "btn btn-xl" style=""> ABOUT THE FAB CITY INITIATIVE </a>


</div>




