<!DOCTYPE html>

<html lang="eng">

<head>

    <meta charset="utf-8">
    <title>Fab City Dashboard v.O.1</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{ glob.metas }}">
    <meta name="author" content="{{ glob.authors }}">
    <meta name="description" content="{{ glob.description }}">

    <!-- JQUERY -->
    <script src={{ url_for( 'static', filename='bower_components/jquery/dist/jquery.min.js' ) }}></script>
    <!--<script 					   src="http://code.jquery.com/jquery-1.11.1.min.js"> </script>-->
    <!--<script type='text/javascript' src="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> </script>-->
    <!--<script type='text/javascript' src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"> </script>-->

    <!-- BOOTSTRAP -->
    <link href={{ url_for( 'static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css' ) }} rel="stylesheet" media="screen">
    <!--<link href={{ url_for( 'static', filename='bower_components/bootstrap/dist/css/bootstrap-theme.min.css' ) }} rel="stylesheet" media="screen">-->
    <script src={{ url_for( 'static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js' ) }}></script>

    <!-- D3 -->
    <script src={{ url_for( 'static', filename='bower_components/d3/d3.min.js' ) }}></script>

    <!-- Leaflet -->
    <script src={{ url_for( 'static', filename='bower_components/leaflet/dist/leaflet.js' ) }}></script>
    <link href={{ url_for( 'static', filename='bower_components/leaflet/dist/leaflet.css' ) }} rel="stylesheet" media="screen">

    <!-- Leaflet Marker cluster-->
    <script type="text/javascript" src={{ url_for( 'static', filename='bower_components/leaflet.markercluster/dist/leaflet.markercluster.js' ) }}></script>
    <link rel="stylesheet" href={{ url_for( 'static', filename='bower_components/leaflet.markercluster/dist/MarkerCluster.css' ) }} />
    <link rel="stylesheet" href={{ url_for( 'static', filename='bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css' ) }} />

    <!-- Fab City favicon -->
    <link rel="shortcut icon" href={{ url_for( 'static', filename='images/favicon.ico' ) }}>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700|Montserrat:700|Roboto+Slab:400,700" rel="stylesheet">

    <!-- The dashboard css -->
    <link href={{ url_for( 'static', filename='css_custom/fabcitydashboard.css' ) }} rel="stylesheet" media="screen">
    <!--<link href="http://fab.city/style.css" rel="stylesheet" media="screen" />
-->

    <!-- STYLES -->
    <style>
        /*
	 *temporary style sheets
	 */
    </style>

</head>



<header>

    <!-- for background carousel or smthg like that -->

</header>





<body id="body">

    {% include 'modules/navbar.html' %}

    <div class="upper-margin"> </div>

    <!-- CONTENTS  -->

    <div class="container-fluid">

        {% block content %}{% endblock %}

    </div>

    <!-- FOOTER -->

    {% include 'modules/footer.html' %}



    <!-- MODALS -->


    {% include 'modules/modals.html' %}


</body>

<!--<script type="text/javascript" src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>-->

<!--  bootstrap callings  -->
<script type="text/javascript">
    // activate bootstrap dropdown and carousel
    $(document).ready(function() {
        $(".dropdown-toggle").dropdown()
    });
    $(document).ready(function() {
        $('.carousel').carousel({
            interval: 7000
        });
    });
</script>


<script type="text/javascript"  src="{{ url_for('static', filename='js_custom/logoResize.js') }}"></script>

</html>
