<!DOCTYPE html>

<html lang="eng">

	<head>

		<meta charset="utf-8">
		<title> </title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="{{ glob.metas }}">
		<meta name="author" content="{{ glob.authors }}">
		<meta name="description" content="{{ glob.description }}">

		<!-- BOOTSTRATP	-->
		<link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
		<!--<link rel="shortcut icon" href="{{ url_for('static', filename='images/elements/favicon.ico') }}">-->

		<!-- JQUERY	-->
		<script src="http://code.jquery.com/jquery-1.11.1.min.js">
		</script>
		<script type='text/javascript' src="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
		</script>
		<script type='text/javascript' src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js">
		</script>



		<!-- STYLES -->
		<style>
			/*
	 *temporary style sheets
	 */
		</style>

	</head>



	<header>

		<!-- for background carousel or smthg like that -->

	</header>





	<body id="body">

		{% include 'modules/navbar.html' %}



		<!-- CONTENTS  -->

		<div class="container-fluid">

		{% block content %}{% endblock %}

		</div>

		<!-- FOOTER -->

		{% include 'modules/footer.html' %}



		<!-- MODALS -->


		{% include 'modules/modals.html' %}


	</body>

	<script type="text/javascript" src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

	<!--  bootstrap callings  -->
	<script type="text/javascript">
		// activate bootstrap dropdown and carousel
		$(document).ready(function() {
			$(".dropdown-toggle").dropdown()
		});
		$(document).ready(function() {
			$('.carousel').carousel({
				interval: 7000
			});
		});
	</script>

</html>
