<!DOCTYPE html>

<html lang="eng">
    
    <head>
    
        <meta charset="utf-8">
        <title> </title>
        
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="{{ glob.metas }}">
		<meta name="author"   content="{{ glob.authors }}">
		<meta name="description" content="{{ glob.description }}">
		
		<!-- BOOTSTRATP	-->
		<link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <!--<link rel="shortcut icon" href="{{ url_for('static', filename='images/elements/favicon.ico') }}">-->

		<!-- JQUERY	-->
		<script 					   src="http://code.jquery.com/jquery-1.11.1.min.js"> </script>
		<script type='text/javascript' src="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> </script>
		<script type='text/javascript' src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"> </script>
		
		<!-- D3.JS V4-->
		<script type="text/javascript" src="{{ url_for('static', filename='bower_components/d3/d3.js') }}"></script>
		
		<!-- LEAFLET -->
		<script type="text/javascript" src="{{ url_for('static', filename='bower_components/leaflet/dist/leaflet.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='bower_components/leaflet.markercluster/dist/leaflet.markercluster.js') }}"></script>
		
		<link   rel="stylesheet" href="{{ url_for('static', filename='bower_components/leaflet/dist/leaflet.css') }}" />
		<link   rel="stylesheet" href="{{ url_for('static', filename='bower_components/leaflet.markercluster/dist/MarkerCluster.css') }}" />
		<link   rel="stylesheet" href="{{ url_for('static', filename='bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css') }}" />

		<!-- STYLES -->
		<style>
			
			/*
			 *temporary style sheets
			 */
			
		</style>
		
    </head>

	

    <header>
		
		<!-- for background carousel or smthg like that -->
		
    </header>




    
	<body id="body" >
		
		<!-- NAVBAR --------------------------------------------------------------------- -->
		
		<nav class="navbar navbar-default">
			
			<div class="container-fluid">
			  
			  <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header">
				<button type="button"
						class="navbar-toggle collapsed"
						data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Fabcity dashboard</a>
			  </div>
		  
		  
			  <!-- Collect the nav links, forms, and other content for toggling -->
			  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				
				<ul class="nav navbar-nav">
				  
				  <li class="active">
					<a href="/test">Test / map</a>
				  </li>
				  
				  <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu">
					  <li><a href="#">Action</a></li>
					  <li><a href="#">Another action</a></li>
					  <li><a href="#">Something else here</a></li>
					  <li role="separator" class="divider"></li>
					  <li><a href="#">Separated link</a></li>
					  <li role="separator" class="divider"></li>
					  <li><a href="#">One more separated link</a></li>
					</ul>
				  
				  </li>
				</ul>
				
				
				
				<form class="navbar-form navbar-left">
				  <div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
				  </div>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>
				
				<ul class="nav navbar-nav navbar-right">
				  
				  <li><a href="#">Login</a></li>
				  
				  <li class="dropdown">
					<a href="#"
					   class="dropdown-toggle"
					   data-toggle="dropdown"
					   role="button"
					   aria-haspopup="true"
					   aria-expanded="false">
						About
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
					  <li><a href="#">About</a></li>
					  <li><a href="#">Contact</a></li>
					  <li role="separator" class="divider"></li>
					  <li><a href="#">Separated link</a></li>
					</ul>
				  </li>
				
				</ul>
				
			  </div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		  </nav>
		
		
		
		<!-- CONTENTS --------------------------------------------------------------------- -->

		<div class="container-fluid">
			
			{% block content %}{% endblock %}
		
		</div>
		
		<!-- FOOTER --------------------------------------------------------------------- -->
		
		<footer class="footer">
		  <div class="container">
				
				<h6 class="text-right">
					
						Developped for
						<a color="black" target="_blank" href="http://">Visualizar 2016</a>
						by
						<a color="black" target="_blank" href="https://github.com/">collaborator</a>
						 - 2016 &nbsp; 
						<!--<a rel="license" href="http://creativecommons.org/licenses/{{ glob.licenceCC }}/4.0/">-->
						<!--	<img 	alt="Creative Commons License"-->
						<!--			src="https://i.creativecommons.org/l/{{ glob.licenceCC }}/4.0/80x15.png" />-->
						</a>
				</h6>
		    </div>
		</footer><!-- end of footer-->
		
		
		
		<!-- MODALS --------------------------------------------------------------------- -->
	


	
	
    </body>



    
	<script type="text/javascript" src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <!--  bootstrap callings  -->
    <script type="text/javascript">
		
		// activate bootstrap dropdown and carousel
		$(document).ready( function(){ $(".dropdown-toggle").dropdown() } ) ;
		$(document).ready(function() { $('.carousel').carousel({interval: 7000}); });	
		
		
		
		
    </script>
    
    
</html>

