

{% extends "base.html" %}

{% block content %}

	<!-- DATAS FOR LEAFLET -->
	{% if map_ %}
		
		<!-- LEAFLET DATAS / CONDITIONNAL -->
		
		{% if list_points %}
		<script>
			var dft_radius    = "5px";
			var dft_opacity   = "0.8";
			var dataMongo = {
				"type": "FeatureCollection",
				"features": [
					{% for item in list_points %}
					{
						"geometry": {
							"type": "Point",
							"coordinates": [{{ item.latitude }}, {{ item.longitude }}]
						},
						"type": "Feature",
						"properties": {
							"color_": "#ff7800",
							"radius_":  dft_radius,
							"opacity_": dft_opacity          
						}
					},
					{% endfor %}
				]
			};
		</script>
		{% endif %}
		
		{% block map_ %}{% endblock %}
	
	{% endif %}

	
	<!-- DATAS FOR D3 -->


	{% if force_ %}
	
		{% block force_ %}{% endblock %}
	
	{% endif %}


{% endblock %}
    
