{% extends "base.html" %} {% block content %}

<h2><span id="title"></span> - <span id="subtitle"></span></h2>

<svg class="svg_oecd" id="region_resilience"></svg>
<!-- added specific class "svg_oecd" -> style because it was affecting map/Leaflet rendering -->

<script>
    d3.json("regional-data", function(data) {

        // Debug
        console.log(data[0]);

        // Change title
        d3.select("body").select("#title").text(data[0]["Country"]);
        d3.select("body").select("#subtitle").text(data[0]["Region"]);

        // Colors for the resilience metrics
        var resilience_colors = {
            "Housing": "#16785D",
            "Income": "#22357C",
            "Jobs": "#1A5774",
            "Community": "#67A61E",
            "Environment": "#1A9022",
            "Education": "#551C7B",
            "Civic engagement": "#7A1676",
            "Work life balance": "#A81E3E",
            "Life satisfaction": "#E62339",
            "Safety": "#B78621",
            "Health": "#B74021",
            "Accessibility to services": "#B7B721"
        };

        // Nesting countries
        var countries = d3.nest()
            .key(function(d) {
                return d["Country"];
            })
            .entries(data);

        // Nesting regions
        var regions = d3.nest()
            .key(function(d) {
                return d["Region"];
            })
            .entries(data);

        // A single region: delete
        console.log(regions[0]["key"])
        var region_data = regions[0]["values"][0];
        delete region_data["Region"];
        delete region_data["Region Code"];
        delete region_data["Country"];

        var region_array = [];
        var region_object = {}

        for (var property in region_data) {
            if (property != "Region" && property != "Region Code" && property != "Country") {
                //region_object[property] = parseFloat(region_data[property]);
                test = {}
                test[property] = parseFloat(region_data[property]);
                region_array.push(test);
            }

        }


        // variables
        var zerox = 10;
        var zeroy = 10;
        var width = 300;
        var barHeight = 13;
        var space_between_bars = 25;
        var legend_width = 180;

        // Linear scale for scaling the graph
        var linearScale = d3.scaleLinear()
            .domain([0, 10.0])
            .range([0, width]);

        // Access svg area
        var svg = d3.select("#region_resilience")
            .attr("width", width + 250)
            .attr("height", space_between_bars * region_array.length + zeroy);

        // Rounded bars
        var bar = svg.selectAll("g")
            .data(region_array)
            .enter()
            .append("g")

        // Scale line
        bar.append("line")
            .style("stroke", "#b3b3b3")
            .attr("x1", zerox + legend_width)
            .attr("y1", function(d, i) {
                return zeroy + i * space_between_bars + 6;
            })
            .attr("x2", zerox + legend_width + linearScale(10))
            .attr("y2", function(d, i) {
                return zeroy + i * space_between_bars + 6;
            });

        // The bars
        bar.append("rect")
            .attr("x", zerox + legend_width)
            .attr("y", function(d, i) {
                return zeroy + i * space_between_bars;
            })
            .attr("width", function(d) {
                for (property in d) {
                    var resilience_value = d[property];
                }
                return linearScale(resilience_value);
            })
            .attr("height", barHeight)
            .attr("rx", 6)
            .attr("ry", 6)
            .attr("fill", function(d) {
                for (property in d) {
                    var the_color = resilience_colors[property];
                }
                return the_color;
            });

        // The legend labels
        bar.append("text")
            .attr("x", zerox)
            .attr("y", function(d, i) {
                return zeroy + 6 + i * space_between_bars;
            })
            .attr("dy", ".35em")
            .text(function(d) {
                for (property in d) {
                    var label_text = property;
                }
                return label_text;
            });

        // The value labels
        bar.append("text")
            .text(function(d) {
                for (property in d) {
                    var label_value = d[property];
                }
                return label_value + "/10";
            })
            .attr("x", zerox + legend_width + width + zerox)
            .attr("y", function(d, i) {
                return zeroy + barHeight - 2 + i * space_between_bars;
            });

        // SVG icons
        var accessibility_icon = svg.append("g");
        d3.xml("../static/images/icons/svg/accesibility_to_services_cr.svg").mimeType("image/svg+xml").get(function(error, xml) {
            if (error) throw error;
            accessibility_icon.node().appendChild(xml.documentElement);
        });

        var civic_icon = svg.append("g");
        d3.xml("../static/images/icons/svg/civic_engagement_cr.svg").mimeType("image/svg+xml").get(function(error, xml) {
            if (error) throw error;
            civic_icon.node().appendChild(xml.documentElement);
        });

        var community_icon = svg.append("g");
        d3.xml("../static/images/icons/svg/community_cr.svg").mimeType("image/svg+xml").get(function(error, xml) {
            if (error) throw error;
            community_icon.node().appendChild(xml.documentElement);
        });

        var education_icon = svg.append("g");
        d3.xml("../static/images/icons/svg/education_cr.svg").mimeType("image/svg+xml").get(function(error, xml) {
            if (error) throw error;
            education_icon.node().appendChild(xml.documentElement);
        });

        var environment_icon = svg.append("g");
        d3.xml("../static/images/icons/svg/environment_cr.svg").mimeType("image/svg+xml").get(function(error, xml) {
            if (error) throw error;
            environment_icon.node().appendChild(xml.documentElement);
        });

        var health_icon = svg.append("g");
        d3.xml("../static/images/icons/svg/health_cr.svg").mimeType("image/svg+xml").get(function(error, xml) {
            if (error) throw error;
            health_icon.node().appendChild(xml.documentElement);
        });

        var housing_icon = svg.append("g");
        d3.xml("../static/images/icons/svg/housing_cr.svg").mimeType("image/svg+xml").get(function(error, xml) {
            if (error) throw error;
            housing_icon.node().appendChild(xml.documentElement);
        });

        var income_icon = svg.append("g");
        d3.xml("../static/images/icons/svg/housing_cr.svg").mimeType("image/svg+xml").get(function(error, xml) {
            if (error) throw error;
            income_icon.node().appendChild(xml.documentElement);
        });

        var jobs_icon = svg.append("g");
        d3.xml("../static/images/icons/svg/jobs_cr.svg").mimeType("image/svg+xml").get(function(error, xml) {
            if (error) throw error;
            jobs_icon.node().appendChild(xml.documentElement);
        });

        var life_icon = svg.append("g");
        d3.xml("../static/images/icons/svg/life_satisfaction_cr.svg").mimeType("image/svg+xml").get(function(error, xml) {
            if (error) throw error;
            life_icon.node().appendChild(xml.documentElement);
        });

        var safety_icon = svg.append("g");
        d3.xml("../static/images/icons/svg/safety_cr.svg").mimeType("image/svg+xml").get(function(error, xml) {
            if (error) throw error;
            safety_icon.node().appendChild(xml.documentElement);
        });

        // SVG icons transformations
        var icon_scale = 0.08;
        var icon_x = legend_width - 30;
        var icon_y = 3;

        education_icon.attr("transform", "translate (" + icon_x + ", " + icon_y + ") scale(" + icon_scale + ")");
        icon_y = icon_y + space_between_bars;
        jobs_icon.attr("transform", "translate (" + icon_x + ", " + icon_y + ") scale(" + icon_scale + ")");
        icon_y = icon_y + space_between_bars;
        income_icon.attr("transform", "translate (" + icon_x + ", " + icon_y + ") scale(" + icon_scale + ")");
        icon_y = icon_y + space_between_bars;
        safety_icon.attr("transform", "translate (" + icon_x + ", " + icon_y + ") scale(" + icon_scale + ")");
        icon_y = icon_y + space_between_bars;
        health_icon.attr("transform", "translate (" + icon_x + ", " + icon_y + ") scale(" + icon_scale + ")");
        icon_y = icon_y + space_between_bars;
        environment_icon.attr("transform", "translate (" + icon_x + ", " + icon_y + ") scale(" + icon_scale + ")");
        icon_y = icon_y + space_between_bars;
        civic_icon.attr("transform", "translate (" + icon_x + ", " + icon_y + ") scale(" + icon_scale + ")");
        icon_y = icon_y + space_between_bars;
        accessibility_icon.attr("transform", "translate (" + icon_x + ", " + icon_y + ") scale(" + icon_scale + ")");
        icon_y = icon_y + space_between_bars;
        housing_icon.attr("transform", "translate (" + icon_x + ", " + icon_y + ") scale(" + icon_scale + ")");
        icon_y = icon_y + space_between_bars;
        community_icon.attr("transform", "translate (" + icon_x + ", " + icon_y + ") scale(" + icon_scale + ")");
        icon_y = icon_y + space_between_bars;
        life_icon.attr("transform", "translate (" + icon_x + ", " + icon_y + ") scale(" + icon_scale + ")");

    });
</script>

{% endblock %}
