Flask==0.11.1
Jinja2==2.8
MarkupSafe==0.23
PyMakerspaces==0.11
Werkzeug==0.11.11
click==6.6
decorator==4.0.10
itsdangerous==0.24
kitchen==1.2.4
mwparserfromhell==0.4.3
networkx==1.11
requests==2.11.1
simplemediawiki==1.1.1
wsgiref==0.1.2
